.ap_main-products-section {
    height: 90vh;
    width: 100%;
}

.ap_productListing-page-products-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 85vh;
    overflow-y: scroll;
}

.ap_product-listing {
    margin: 0rem;
    margin-top: 2rem;
    width: 95%;
}

.ap_all-product-listing {
    font-size: 0.9rem;
}