.ap_wislist-main-section-heading {
    padding-top: 2rem;
}

.ap_wislisted-products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    height: 33rem;
    overflow-y: scroll;
    padding: 1rem 4rem;
}

.ap_wishlisted-product-icon {
    color: var(--light-red);
}

@media only screen and (max-width: 958px) {
    .ap_wislisted-products-container {
        padding: 1rem 2rem;
    }
}

@media only screen and (max-width: 370px) {
    .ap_wislisted-products-container {
        padding: 1rem;
    }
}