.ap_home-page-shopNowImg {
    position: relative;
}

.ap_home-page-shopNowImg video {
    margin-top: 0.5rem;
    width: 100%;
}

.ap_home-page-shopNowImg .ap_showNowImg-overlay-container {
    bottom: 10%;
    right: 10%;
    position: absolute;
    text-align: right;
}

.ap_home-page-shopNowImg .ap_showNowImg-overlay-container button {
    color: var(--white-color);
}

.ap_showNowImg-overlay-container button {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.7rem 1.2rem;
}

.ap_showNowImg-overlay-container p {
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    padding-top: 0.5rem;
}

@media only screen and (max-width: 1040px) {
    .ap_home-page-shopNowImg .ap_showNowImg-overlay-container {
        bottom: 5%;
    }
}

@media only screen and (max-width: 850px) {
    .ap_home-page-shopNowImg .ap_showNowImg-overlay-container {
        right: 5%;
    }

    .ap_showNowImg-overlay-container button {
        font-size: 1.2rem;
        padding: 0.7rem 1rem;
    }
}

@media only screen and (max-width: 560px) {
    .ap_showNowImg-overlay-container button {
        font-size: 0.8rem;
        padding: 0.6rem 0.8rem;
        font-weight: lighter;
    }

    .ap_showNowImg-overlay-container p {
        font-size: 0.8rem;
        padding-top: 0.3rem;
    }
}
