.ap_signup-card-other-options {
    display: flex;
    justify-content: flex-start;
}

.ap_signup-card-other-options label {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 0.8rem;
    gap: 0.3rem;
}

.ap_signup-action-btns button {
    color: var(--white-color);
    margin: 1rem 0rem 0rem 0rem;
    width: 100%;
}

.auth-errMsg {
    position: relative;
    color: var(--light-red);
    z-index: 1;
}
