.ap_single-product-detail-component {
    display: flex;
    justify-content: center;
    min-height: 35rem;
    padding: 1rem;
}

.ap_single-product-container {
    display: flex;
    justify-content: space-around;
    padding: 0rem 1rem;
    width: 100%;
}

.ap_singleProduct-carousel-container, .ap_singleProduct-details-container {
    width: 50%;
    padding-top: 2rem;
}

.ap_singleProduct-details-container {
    padding-left: 4rem;
}

.ap_single-product-img {
    background-color: var(--white-color);
    border-radius: 2rem;
    height: 100vh;
    padding: 2.5rem 0rem;
    width: 100%;
}

.ap_single-product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ap_singleProduct-title {
    border-bottom: 1px solid var(--medium-gray);
    color: var(--light-gray);
    display: inline-block;
    margin-top: 2rem;
    padding: 0rem 0.5rem 1rem 0rem;
    font-weight: lighter;
}

.ap_singleProduct-description, .ap_singleProduct-info {
    color: rgb(127, 136, 145);
    font-size: 0.9rem;
}

.ap_singleProduct-description {
    margin: 0.3rem 0rem 0.5rem 0rem;
}

.ap_singleProduct-is-newArrival, .ap_singleProduct-is-trending, .ap_singleProduct-is-stockOut {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
}

.ap_singleProduct-is-newArrival {
    background-color: var(--light-red);
    color: var(--white-color);
}

.ap_singleProduct-is-trending {
    background-color: var(--dark-yellow);
    color: var(--black);
}

.ap_singleProduct-is-stockOut {
    background-color: var(--medium-gray);
    color: var(--black);
}

.ap_singleProduct-info {
    margin-top: 0.5rem;
}

.ap_singleProduct-info span {
    color: var(--black);
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
}

.singleProduct-discountedPrice span, .singleProduct-discount span{
    color: var(--light-green);
}

.ap_singleProduct-action-btns {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.ap_singleProduct-action-btns button {
    border: 1px solid var(--action);
    cursor: pointer;
    color: var(--action);
    padding: 0.5rem 0.8rem;
}

.ap_singleProduct-action-btns button:hover {
    background: rgba(110, 172, 252, 0.5);
}

.ap_singleProduct-action-btns button:disabled {
    cursor: not-allowed;
}

.ap_singleProductListing-to-productListingPage-btn {
    align-items: center;
    color: var(--action);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 80vh;
    width: 100%;
}

.ap_singleProductListing-to-productListingPage-btn button {
    background-color: transparent;
    cursor: pointer;
    color: var(--action);
    border: 1px solid var(--action);
    padding: 0.3rem 0.7rem;
}

.ap_singleProductListing-to-productListingPage-btn button:hover {
    border-radius: 5rem;
    background: rgba(110, 172, 252, 0.5);
    transition: 1s;
}

@media only screen and (max-width: 1300px) {
    .ap_singleProduct-carousel-container {
        width: 60%;
    }

    .ap_singleProduct-details-container {
        width: 40%;
    }
}

@media only screen and (max-width: 1100px) {
    .ap_singleProduct-carousel-container {
        width: 70%;
    }

    .ap_singleProduct-details-container {
        width: 30%;
        padding-left: 2rem;
    }
}

@media only screen and (max-width: 990px) {
    .ap_singleProduct-action-btns {
        flex-direction: column;
    }

    .ap_singleProduct-action-btns button {
        padding: 0.7rem 0.3rem;
    }
}

@media only screen and (max-width: 930px) {
    .ap_singleProduct-carousel-container {
        width: 50%;
    }

    .ap_singleProduct-details-container {
        width: 50%;
        padding-left: 4rem;
    }
}

@media only screen and (max-width: 840px) {
    .ap_singleProduct-carousel-container {
        width: 60%;
    }

    .ap_singleProduct-details-container {
        width: 50%;
        padding-left: 2rem;
    }
}

@media only screen and (max-width: 750px) {
    .ap_single-product-container {
        flex-direction: column;
    }

    .ap_singleProduct-carousel-container {
        width: 100%;
    }

    .ap_singleProduct-details-container {
        width: 100%;
        padding-left: 4rem;
        padding-top: 0rem;
    }

    .ap_singleProduct-action-btns {
        flex-direction: row;
    }

    .ap_singleProduct-action-btns button {
        padding: 0.5rem 0.8rem;
    }
}

@media only screen and (max-width: 580px) {
    .ap_singleProduct-details-container {
        padding-left: 2rem;
    }

    .ap_single-product-img {
        height: 70vh;
    }
}

@media only screen and (max-width: 480px) {
    .ap_single-product-container {
        padding: 0rem;
    }

    .ap_single-product-img  {
        border-radius: 1rem;
    }
}

@media only screen and (max-width: 455px) {
    .ap_singleProduct-carousel-container {
        width: 100%;
        margin: auto;
    }

    .ap_singleProduct-details-container {
        padding-left: 0.5rem;
    }

    .ap_singleProduct-title {
        font-size: 0.8rem;
        padding-bottom: 0rem;
        margin-bottom: 0.8rem;
    }

    .ap_singleProduct-description, .ap_singleProduct-info {
        font-size: 0.7rem;
    }

    .ap_singleProduct-info span {
        font-size: 0.7rem;
    }

    .ap_singleProduct-is-newArrival, .ap_singleProduct-is-trending, .ap_singleProduct-is-stockOut {
        font-size: 0.6rem;
    }

    .ap_singleProduct-action-btns {
        margin-top: 1.2rem;
    }

    .ap_singleProduct-action-btns button {
        font-size: 0.7rem;
    }

    .ap_singleProductListing-to-productListingPage-btn  {
        font-size: 0.8rem;
    }

    .ap_singleProductListing-to-productListingPage-btn button {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 314px) {
    .ap_single-product-img {
        height: 50vh;
        padding: 1rem 0rem;
    }
}