.ap_single-product-detail-component {
    display: flex;
    justify-content: center;
    min-height: 35rem;
    padding: 1rem;
}

.ap_single-product-container {
    display: flex;
    justify-content: space-around;
    padding: 0rem 1rem;
    width: 100%;
}

.ap_singleProduct-carousel-container, .ap_singleProduct-details-container {
    width: 50%;
    padding-top: 2rem;
}

.ap_singleProduct-details-container {
    padding-left: 4rem;
}

.ap_single-product-img {
    background-color: var(--white-color);
    border-radius: 2rem;
    width: 100%;
    height: 90vh;
}

.ap_single-product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ap_singleProduct-title {
    border-bottom: 1px solid var(--medium-gray);
    color: var(--light-gray);
    display: inline-block;
    margin-top: 2rem;
    padding: 0rem 0.5rem 1rem 0rem;
    font-weight: lighter;
}

.ap_singleProduct-description, .ap_singleProduct-info {
    color: rgb(127, 136, 145);
    font-size: 0.9rem;
}

.ap_singleProduct-description {
    margin: 0.3rem 0rem 0.5rem 0rem;
}

.ap_singleProduct-is-newArrival, .ap_singleProduct-is-trending, .ap_singleProduct-is-stockOut {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
}

.ap_singleProduct-is-newArrival {
    background-color: var(--light-red);
    color: var(--white-color);
}

.ap_singleProduct-is-trending {
    background-color: var(--dark-yellow);
    color: var(--black);
}

.ap_singleProduct-is-stockOut {
    background-color: var(--medium-gray);
    color: var(--black);
}

.ap_singleProduct-info {
    margin-top: 0.5rem;
}

.ap_singleProduct-info span {
    color: var(--black);
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
}

.singleProduct-discountedPrice span, .singleProduct-discount span{
    color: var(--light-green);
}

.ap_singleProduct-action-btns {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.ap_singleProduct-action-btns button {
    /* background-color: transparent; */
    border: 1px solid var(--action);
    cursor: pointer;
    color: var(--action);
    padding: 0.5rem 0.8rem;
}

.ap_singleProduct-action-btns button:hover {
    background: rgba(110, 172, 252, 0.5);
}

.ap_singleProduct-action-btns button:disabled {
    cursor: not-allowed;
}